// Sass Utilities

// Colors
$light-color: #FFF;
$primary-color: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$primary-color-reverse: linear-gradient(to left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$pale-blue: hsl(243, 100%, 93%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

// Font
$primary-font: 'Raleway', sans-serif;
$n-size: 14px;

@mixin setBoxSize($v-height, $v-width) {
  height: $v-height;
  width: $v-width;
}